@font-face {
    font-family: figtree-bold;
    src: url('assets/fonts/static/Figtree-ExtraBold.ttf');
}

@font-face {
    font-family: figtree;
    src: url('assets/fonts/static/Figtree-Medium.ttf');
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: figtree;
    font-size: 16px;
    color: hsl(0, 0%, 7%);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    box-sizing:border-box;
    background-color: white;
    width: 343px;
    height: 480px;
    border-radius: 1.25rem;
    outline: 1px solid black;
    box-shadow: 0.5rem 0.5rem 0;
    padding: 1.5rem;
}

.card header {
    font-size: 14px;
    height: 60%;
}

.card img {
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    display: block;
}

.category span {
    border-radius: 0.25rem;
    padding: 0.35rem 0.9rem;
    font-family: figtree-bold;
    background-color:hsl(47, 88%, 63%);
}

.subheader {
    padding: 1.0rem 0;
}

.card article {
    top: 59%;
    height: 28%;
}

.card article h2 {
   font-size: 20px;
   font-weight: 950;
}

.card article h2:hover {
    color: hsl(47, 88%, 63%);
 }

.card article p {
    color: hsl(0, 0%, 42%);
    line-height: 150%;
    font-size: 14px;
}

.card footer {
    height: 11%;
    width: 43%;
    font-family: figtree-bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 85%;
}

.card footer img {
    margin: 0;
    width: 2rem;
}

.attribution { margin-top: 1rem; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
